<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="holysung.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmallCar_Activity" />

        <activity android:name=".Tomica_TEM_Activity" />
        <activity android:name=".Tomica_Disney_Activity" />
        <activity android:name=".Tomica_Fatasy_Activity" />
        <activity android:name=".Tomica_bingo_Activity" />
        <activity android:name=".Tomica_box_Activity" />
        <activity android:name=".Bmw_Activity" />
        <activity android:name=".Benz_Activity" />
        <activity android:name=".Toyota_Activity" />
        <activity android:name=".Lambogini_Activity" />
        <activity android:name=".Shopping_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Cart_Activity" />
        <activity android:name=".Regist_Activity" />
        <activity android:name=".Vip_Activity"></activity>
    </application>

</manifest>